

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html { 
height: 100%;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
}
body {
  /* max-width: 600px; */
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.content {
  flex: 1 ;
  /* min-height: 250px; */
}

.App-header {
  background-color: #222;
  /* height: 120px; */
  padding: 20px;
  color: white;
}
.clippy-container {
  margin: 0 auto;
	max-width: 500px;
	width: 80%;
	position: relative;
	/* position: absolute; */
  /* top: 0; */
	left: 0;
  right: 0;
  bottom: 50%;
  /* top: 0; */
  -webkit-transform: translateY(50%);
  transform: translateY(50%);

  /* position: absolute;
  bottom: 120px;
  left: 0;
  right: 0; */
}
.clippy-container + div {
  bottom: 80px !important;
  padding: 20px;
}
.MuiSnackbar-anchorTopCenter-2 div {
  padding: 0px 2px;
  display: block;
  line-height: 1;
  text-align: center;
}

.MuiPaper-root-37 {
  /* padding: 20px;
  margin: 0 20px; */
}

.clippy-tooltip {
  min-height: 100px;
  width: 100%;
  background: rgb(255, 255, 203);
  border: 1.5px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}
.clippy-text {
  min-height: 40px;
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
}
.clippy-image {
  height: 100px;
  float: right;
}
.clippy-buttons {
  /* margin: 8px 10px; */
}
.clippy-buttons a {
  font-family: Tahoma, Geneva, sans-serif;
  
  border-radius: 3px;
  padding: 4px 8px;
  display: inline-block;
  min-width: 55px;
  max-width: 46%;
  border: rgba(23,23,23,0.4) 1px solid;
  transition: background-color 0.2s;
  color: black;
}
.clippy-buttons a:active {
  /* background-color: rgba(124,124,124,0.3); */
}
.clippy-buttons a:first-of-type {
  float: left;
}
.clippy-buttons a:last-of-type {
  float: right;
}
.App-title {
  font-size: 1.5em;
  margin-top: 4px;
  margin-bottom: 4px;
}

.App-intro {
  font-size: large;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(34,34,34);
  color: white;
  
}
.progress-bar {
  width: 100%;
  background-color: rgba(124,124,124,0.9);
  border: 1px solid darkslategrey;
  height: 40px;
}
.score-value {
  font-size: 2em;
  display: block;
  margin-top: 5px;
  line-height: 1;
}
.score-label {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: rgb(255, 255, 202);
}
.col-half {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.header-subtitle {
  /* color: rgb(255, 255, 202); */
}
.subtitle-block {
  padding: 10px 8px;
}
.subtitle-block p {
  margin-top: 0;
  margin-bottom: 6px;
}
/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
/* @media (min-width: 600px) {
  body {
    display: none;
  }
} */